
.links-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.footer-08desktoplight {
    align-self: stretch;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    padding: 24px 160px;
    align-items: center;
    justify-content: center;
}
.diavanda-2023 {
    position: relative;
    letter-spacing: -0.4px;
    line-height: 20px;
}

.footer-09desktoplight {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    padding: 24px 40px;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 15px;
    color: #79747e;
}

.footer {
    width: 100%;
    position: relative;
    height: 143px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: rgba(60, 60, 67, 0.6);
    font-family: Inter;
}

