html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding,100px);
}

body {
  margin: 0;
  line-height: normal;
  font-family: Inter, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.hero, .latest-work, .works, .about, .testimonials, .contact {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s cubic-bezier(.4,0,.2,1), transform 0.8s cubic-bezier(.4,0,.2,1);
}

.hero.show, .latest-work.show, .works.show, .about.show, .testimonials.show, .contact.show {
  opacity: 1;
  transform: translateY(0);
}