html {
  /* scroll-behavior: smooth; */
  /* scroll-padding-top: var(--scroll-padding,100px); */
}

body {
  margin: 0;
  line-height: normal;
  font-family: Inter, sans-serif;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

