.text-child {
    flex: 1;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), rgba(128, 128, 128, 0.3);
    height: 1px;
}

.some-of-my {
    position: relative;
    letter-spacing: -0.4px;
    line-height: 28px;
}
.text {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    
}
.screen-3-icon {
    position: absolute;
    bottom: 40px;
    left: calc(50% + 49px);
    border-radius: 12.79px;
    object-fit: cover;
    width: 142px;
    height: 308px;
    transform: rotate(12.074deg);
    flex-shrink: 0;
}
.shadow-2 {
    position: absolute;
    bottom: 42.49px;
    left: calc(50% + 1.05px);
    border-radius: 17px;
    background-color: rgba(0, 0, 0, 0.1);
    filter: blur(42.62px);
    width: 147px;
    height: 320px;
    transform:  rotate(5deg);
    transform-origin: 0 0;
}
.screen-2-icon {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 83.44px);
    border-radius: 17.05px;
    object-fit: cover;
    width: 158px;
    height: 341px;
    transform: rotate(5.033deg);
    flex-shrink: 0;
}
.shadow-1 {
    position: absolute;
    bottom: 2.49px;
    left: calc(50% - 194.95px);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    filter: blur(42.62px);
    width: 171px;
    height: 370px;
    transform:  rotate(-5deg);
    transform-origin: 0 0;
}
.screen-1-icon {
    position: absolute;
    left: calc(50% - 248.52px);
    border-radius: 17px;
    object-fit: cover;
    width: 181px;
    height: 392px;
    transform: rotate(-5.033deg);
    flex-shrink: 0;
}

.screens {
    position: absolute;
    top: 121.22px;
    left: 80px;
    width: 499.9px;
    height: 406.26px;
}
.text-inner {
    position: relative;
    width: 50px;
    height: 40px;
    object-fit: cover;
    
}
.adamo-ai-mobile {
    position: relative;
    letter-spacing: -0.4px;
    line-height: 41px;
    display: inline-block;
    width: 500px;
    flex-shrink: 0;
    
}
.text1 {
    position: absolute;
    top: 33px;
    left: 40px;
    width: 580px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.screens-parent {
    align-self: stretch;
    position: relative;
    border-radius: 40px;
    background-color: #f4f4f4;
    height: 427px;
    overflow: hidden;
    flex-shrink: 0;
    
}
.screen-2-icon1 {
    position: absolute;
    bottom: 0px;
    left: calc(50% + 16.09px);
    width: 233.91px;
    height: 627px;
    object-fit: cover;
    flex-shrink: 0;
    object-position: 0px 100%;
}
.shadow {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 175px);
    background-color: rgba(0, 0, 0, 0.2);
    filter: blur(40px);
    width: 331px;
    height: 696px;
    
}
.screen-1-icon1 {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 250px);
    width: 331.03px;
    height: 696px;
    object-fit: cover;
    flex-shrink: 0;
    object-position: 0px 0%;
}
.screens1 {
    position: absolute;
    top: 121px;
    left: 80px;
    width: 500px;
    height: 696px;
}
.screens-group {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 40px;
    background-color: #f4f4f4;
    overflow: hidden;
}
.frame-group {
    flex: 1;
    height: 1260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.shadow1 {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 175px);
    background-color: rgba(0, 0, 0, 0.1);
    filter: blur(57.43px);
    width: 331px;
    height: 696px;
}
.logo-1-icon {
    position: relative;
    width: 30px;
    height: 41px;
    overflow: hidden;
    flex-shrink: 0;
}
.screens-container {
    align-self: stretch;
    position: relative;
    border-radius: 40px;
    background-color: #f4f4f4;
    height: 793px;
    overflow: hidden;
    flex-shrink: 0;
}
.alaya-1-icon {
    position: relative;
    width: 36px;
    height: 41px;
    overflow: hidden;
    flex-shrink: 0;
}
.frame-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 34px;
    
}

.latest-work {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 32px;
    text-align: left;
    font-size: 22px;
    color: rgba(60, 60, 67, 0.6);
    font-family: Inter;
}

