.separator {
    flex: 1;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), rgba(128, 128, 128, 0.3);
    height: 1px;
}

.my-works-title {
    position: relative;
    letter-spacing: -0.4px;
    line-height: 28px;
    color: rgba(60, 60, 67, 0.6);
    text-align: left;
    font-size: 22px;
}

.text {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.works-screen {
    width: 100%;
    height: auto;
    border-radius: 40px;
    overflow: hidden;
    object-fit: cover;
    background-color: #f4f4f4;
    transition: 0.3s;
}

.works-screen-video {
    object-fit: cover;
    border-radius: 40px;
    width: 100%;
    /* height: calc(100% - 74.17px); */
    height: auto;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4f4f4;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.works-screen:hover {
    background-color: #2C2C2E;
}


video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

.works-frame-1 {
    width: 100%;
    display: grid;
    gap: 40px 40px;
    height: auto;
    grid-template-rows: repeat(5, 413.328px);
    
}

.works-screen-horizontal {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    background-color: #f4f4f4;
    transition: 0.3s;
    width: 100%;
    height:initial;
    grid-column: 2 / span 2;
    grid-row: 5;
    transition: 0.3s;
}

.works-screen-vertical {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    background-color: #f4f4f4;
    transition: 0.3s;
    width: auto;
    height: 100%;
    grid-column: 3;
    grid-row: 3 / span 2;
}

.works-screen-vertical-child {
    width: 347px;
    height: 854px;
    position: absolute;
    bottom: 0;
    left: 8%;
    right: 8%;
    object-position: 0px 0%;
    box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

.works-screen-horizontal:hover {
    background-color: #2C2C2E;
}

.works-screen-vertical:hover {
    background-color: #2C2C2E;
}

.works {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0px 40px 32px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .works-frame-1 {
        gap: 24px 24px;
    }

    /* .works-screen-horizontal {
        height: calc(100% - 58.17px);
    }

    .works-screen-video {
        height: calc(100% - 58.17px);
    } */
}
@media (max-width: 1024px) {

    .works-screen-vertical {
        grid-column: 2;
        grid-row: 2 / span 2;
    }

    .works-screen-horizontal {
        grid-column: 1 / span 2;
        grid-row: 6;
        height: auto;
    }

    .works-screen-video {
        height: auto;
    }

    #tab-vertical {
        grid-column: 1 / span 2;
    }
}

@media (max-width: 430px) {
    .works-frame-1 {
        gap: 24px 24px;
    }

    .works-screen {
        border-radius: 18px;
    }

    .works-screen-horizontal {
        border-radius: 18px;
    }

    .works-screen-vertical {
        border-radius: 18px;
    }

    .works-screen-video {
        border-radius: 18px;
    }

    .works-screen-vertical-child {
        width: 132px;
        height: 380px;
        top: 16px;
        left: 16px;
        right: 16px;
    }
}

