---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Portfolio from "./portfolio.astro";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1, width=device-width' /><link
      rel='stylesheet'
      href='/src/styles/global.css'
    />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap'
    />
    <title>Diavanda's Portfolio</title>
  </head>
  <body>
    <Navbar />
    <Hero />
  </body>
</html>
