---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
			<div class="navbar">
					<div class="logo">
						<img class="vector-icon" alt="" src="Vector.svg">
					</div>
					<div class="twitter-svg-parent">
							<img class="twitter-svg" alt="" src="Twitter.svg">
							<img class="linkedin-svg-icon" alt="" src="LinkedIn.svg">
							<img class="instagram-svg-icon" alt="" src="Instagram.svg">
							<img class="figma-svg-icon" alt="" src="Figma.svg">
					</div>
					<div class="about-parent">
							<div class="about">about</div>
							<div class="about">portfolio</div>
							<div class="about">blog</div>
							<div class="about">contact</div>
					</div>
			</div>

	</body>
</html>
