---
import '../styles/global.css'
import '../styles/About.css'
---

<div class="about-title">
    <div class="text">
        <div class="text-child">
        </div>
            <b class="about-me">ABOUT ME</b>
        <div class="text-child">
    </div>
</div>


<div class="frame-card">
    <div class="frame-wrapper">
            <div class="frame-group">
                <div class="parent">
                        <b class="number">1</b>
                        <div class="years-of-experience">
                            <p class="me">About </p>
                            <p class="me">Me</p>
                        </div>
                </div>
                <div class="i-love-creating">I love creating visually stunning and user-friendly digital experiences, blending creativity with problem-solving to craft engaging interfaces. Let's collaborate and bring your ideas to life!</div>
            </div>
    </div>
    <div class="frame-wrapper">
            <div class="frame-group">
                <div class="parent">
                        <b class="number">5</b>
                        <div class="years-of-experience">Years of Experience</div>
                </div>
                <div class="i-love-creating">
                        <p class="me">With five years of dedicated experience in the industry, I have honed my skills to create intuitive and visually stunning interfaces that resonate with users.</p>
                </div>
            </div>
    </div>
    <div class="frame-wrapper">
            <div class="frame-group">
                <div class="parent">
                        <b class="number">120+</b>
                        <div class="years-of-experience">
                            <p class="me">Satisfied</p>
                            <p class="me">Clients</p>
                        </div>
                </div>
                <div class="i-love-creating">
                        <p class="me">Their trust and support have allowed me to explore diverse projects, from website and mobile design to website development, each one contributing to my growth as a professional.</p>
                </div>
            </div>
    </div>
    <div class="frame-wrapper">
            <div class="frame-group">
                <div class="parent">
                        <b class="number">4</b>
                        <div class="years-of-experience">Domains of Expertise</div>
                </div>
                <div class="i-love-creating">I am a proficient expert in four key domains: Figma for UI/UX design, React and Framer for building interactive website, and a mastery of HTML, CSS, and JavaScript to ensure a solid foundation in web dev.</div>
            </div>
    </div>
</div>

