---
import '../styles/global.css'
import '../styles/Contact.css'
---


  	
<div id="contactpage" class="contact">
        <div class="text">
            <div class="separator">
            </div>
            <b class="contact-title">CONTACT ME</b>
            <div class="separator">
            </div>
        </div>

        <div class="cta">

            <div class="mash-parent">
                <img class="mesh-icon" alt="" src="Mesh.svg">
            </div>
            
            <div class="spline">
            </div>

            <div class="title-contact">
                    <div class="caption-container">
                        <p class="caption">Thank you for visiting, </p>
                        <p class="caption">and I'm excited to connect </p>
                        <p class="caption">with you. </p>
                    </div>
                    <b class="caption-container">Let's make magic happen!</b>
                    <a href="#">
                        <div class="button-contact">
                            <div class="button1">Get in Touch</div>
                        </div>
                    </a>
                    
            </div>
        </div>
</div>
