---
import '../styles/global.css'
import '../styles/Contact.css'
---


  	
<section id="contact" class="contact">
        <div class="text">
            <div class="separator">
            </div>
            <b class="contact-title">CONTACT ME</b>
            <div class="separator">
            </div>
        </div>

        <!-- <div class="cta">

            <div class="title-contact">
                <div class="caption-container">
                    <p class="caption">Thank you for visiting, </p>
                    <p class="caption">and I'm excited to connect </p>
                    <p class="caption">with you. </p>
                </div>
                <b class="caption-container">Let's make magic happen!</b>

                <form action="https://www.w3docs.com/" method="get" target="_blank">
                    <button class="button-contact">
                        Get in Touch
                    </button>
                </form>      
            </div>

            <div class="spline">
            </div>

            <div class="mash-parent">
                <img class="mesh-icon" alt="" src="Mesh.svg">
            </div> -->
            
            <div class="grid grid-rows-3 grid-cols-3 grid-flow-col gap-10  w-full h-[40rem] max-[480px]:gap-6">
                
                <div class="w-full h-full bg-[#F4F4F4] col-span-2 row-span-2 rounded-[40px] max-[480px]:rounded-[18px]"></div>
                <div class="w-full h-full bg-[#F4F4F4] rounded-[40px] max-[480px]:rounded-[18px]"></div>
                <div class="w-full h-full bg-[#F4F4F4] rounded-[40px] max-[480px]:rounded-[18px]"></div>
                <div class="w-full h-full bg-[#F4F4F4] rounded-[40px] max-[480px]:rounded-[18px]"></div>
                <div class="w-full h-full bg-[#F4F4F4] rounded-[40px] row-span-2 max-[480px]:rounded-[18px]"></div>
              
                    

            </div>

            
        </div>
    </section>
