---
import '../styles/global.css'
import '../styles/Contact.css'
---


  	
<section id="contact" class="contact">
        <div class="text">
            <div class="separator">
            </div>
            <b class="contact-title">CONTACT ME</b>
            <div class="separator">
            </div>
        </div>

        <!-- <div class="cta">

            <div class="title-contact">
                <div class="caption-container">
                    <p class="caption">Thank you for visiting, </p>
                    <p class="caption">and I'm excited to connect </p>
                    <p class="caption">with you. </p>
                </div>
                <b class="caption-container">Let's make magic happen!</b>

                <form action="https://www.w3docs.com/" method="get" target="_blank">
                    <button class="button-contact">
                        Get in Touch
                    </button>
                </form>      
            </div>

            <div class="spline">
            </div>

            <div class="mash-parent">
                <img class="mesh-icon" alt="" src="Mesh.svg">
            </div> -->
            
            <div class="relative grid grid-rows-3 grid-cols-3 grid-flow-col gap-10  w-full h-auto max-[480px]:gap-6">    
                
                <a href="https://www.figma.com/@diavanda" class="w-full h-auto bg-[#F4F4F4] col-span-2 row-span-2 rounded-[40px] max-[480px]:rounded-[18px] p-10 flex flex-row gap-10">
                    <div class="relative w-1/5 h-full flex flex-col gap-2">
                        <div class= "relative flex justify-center items-center box-content object-center w-20 h-20 bg-black rounded-[18px] ">
                            <embed class="relative" src="logos_figma.svg" type="">
                        </div>
                        <div class="gap-1">
                            <h4 class="text-black">Figma</h4>
                            <p class="text-sm">@diavanda</p>
                        </div>
                        <p class="text-base">Figma UI Kit Creator | Let's collaborate and build something beautiful 🚀</p>
                    </div>
                    <div class="relative w-full h-auto box-content object-cover bg-black rounded-[18px]">

                    </div>
                </a>

                <a href="#" class="relative w-full h-full bg-[#F4F4F4] rounded-[40px] max-[480px]:rounded-[18px] p-10">
                    <div class="relative w-auto h-auto flex flex-row gap-2">
                        <div class= "relative flex justify-center items-center box-content object-center w-20 h-20 bg-black rounded-[18px] ">
                            <embed class="relative" src="logos_twitter.svg" type="">
                        </div>
                        <div class="gap-1">
                            <h4 class="text-black">X/Twitter</h4>
                            <p class="text-sm">@uidiavanda</p>
                        </div>
                    </div>
                </a>

                <a href="#" class="relative w-full h-full bg-[#F4F4F4] rounded-[40px] max-[480px]:rounded-[18px] p-10">
                    <div class="relative w-auto h-auto flex flex-row gap-2">
                        <div class= "relative flex justify-center items-center box-content object-center w-20 h-20 bg-black rounded-[18px] ">
                            <embed class="relative" src="logos_linkedin.svg" type="">
                        </div>
                        <div class="gap-1">
                            <h4 class="text-black">LinkedIn</h4>
                            <p class="text-sm">Allan Febrian Diavanda</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="relative w-full h-full bg-[#F4F4F4] rounded-[40px] max-[480px]:rounded-[18px] p-10">
                    <div class="relative w-auto h-auto flex flex-row gap-2">
                        <div class= "relative flex justify-center items-center box-content object-center w-20 h-20 bg-black rounded-[18px] ">
                            <embed class="relative" src="logos_gmail.svg" type="">
                        </div>
                        <div class="gap-1">
                            <h4 class="text-black">Gmail</h4>
                            <p class="text-sm">allanfebriandiavanda@gmail.com</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="relative w-full h-full bg-[#F4F4F4] rounded-[40px] row-span-2 max-[480px]:rounded-[18px] p-10 flex flex-col gap-10">
                    <div class="relative w-auto h-auto flex flex-row gap-2">
                        <div class= "relative flex justify-center items-center box-content object-center w-20 h-20 bg-black rounded-[18px] ">
                            <embed class="relative" src="logos_dribbble.svg" type="">
                        </div>
                        <div class="gap-1">
                            <h4 class="text-black">Dribbble</h4>
                            <p class="text-sm">diavanda</p>
                        </div>
                    </div>
                    <img src="" class="relative w-full h-full box-content object-cover bg-white rounded-[18px]">
                    </img>
                </a>
              
                    

            </div>

            
        </div>
    </section>
