---
import '../styles/global.css'
import '../styles/Contact.css'
---


  	
<div class="contact">
        <div class="text">
            <div class="text-child">
            </div>
            <b class="contact-me">CONTACT ME</b>
            <div class="text-child">
            </div>
        </div>
        <div class="cta">

            <div class="mash-parent">
                <img class="mesh-icon" alt="" src="Mesh.svg">
            </div>
            
            <div class="spline">
            </div>
            <div class="title-contact">
                    <div class="thank-you-for-container">
                        <p class="thank-you-for">Thank you for visiting, </p>
                        <p class="thank-you-for">and I'm excited to connect </p>
                        <p class="thank-you-for">with you. </p>
                    </div>
                    <b class="thank-you-for-container">Let's make magic happen!</b>
                    <a href="#">
                        <div class="button-contact">
                            <div class="button1">Start a Project</div>
                        </div>
                    </a>
                    
            </div>
        </div>
</div>
