

<div class="herologo">
  <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.411/build/spline-viewer.js"></script>
  <spline-viewer url="https://prod.spline.design/ytmXzYtUkP-8gsQF/scene.splinecode"></spline-viewer>
</div>

<style>
  .herologo {
  	position: absolute;
  	width: 100%;
  	top: 144px;
  	right: 0px;
  	left: 0px;
  	height: 792 px;
}


</style>