<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width"><link rel="stylesheet"  href="./index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="hero">
		<script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.411/build/spline-viewer.js"></script>
		<spline-viewer url="https://prod.spline.design/utDpVe72JYWAXLaE/scene.splinecode"></spline-viewer>
    		<div class="caption-title-parent">
      			<div class="caption-title">
        				<b class="allan-febrian-diavanda">Allan Febrian Diavanda</b>
        				<div class="a-uiux-designer">a UI/UX designer and Front end developer based in Surabaya, Indonesia</div>
      			</div>
      			<div class="button">
        				<div class="button1">Let's Collaborate</div>
      			</div>
    		</div>
  	</div>
  	
  	
</body>
</html>

<style>

	.allan-febrian-diavanda {
position: relative;
letter-spacing: -0.4px;
line-height: 41px;
}
.a-uiux-designer {
position: relative;
letter-spacing: -0.4px;
line-height: 41px;
color: rgba(60, 60, 67, 0.6);
display: inline-block;
width: 775px;
}
.caption-title {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 4px;
}
.button1 {
position: relative;
letter-spacing: -0.4px;
line-height: 22px;
}
.button {
border-radius: 12px;
background-color: #000;
box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.05) inset, -1px 0px 1px rgba(0, 0, 0, 0.05) inset, 0px 1px 1px rgba(0, 0, 0, 0.05) inset, 1px 0px 1px rgba(0, 0, 0, 0.05) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
display: flex;
flex-direction: row;
padding: 14px 20px;
align-items: center;
justify-content: center;
text-align: left;
font-size: 17px;
color: #fff;
}
.caption-title-parent {
position: absolute;
top: calc(50% - 105px);
left: calc(50% - 388px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 32px;
}

.hero {
  	width: 100%;
  	position: relative;
	background-image: ;
  	background-color: #fff;
  	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  	height: 724px;
  	overflow: hidden;
  	flex-shrink: 0;
  	text-align: center;
  	font-size: 34px;
  	color: #000;
  	font-family: Inter;
}

</style>