---
import '../styles/global.css'
import '../styles/LatestWork.css'
---


<body>

<section class="latest-work">
    <div class="text">
        <div class="text-child">
        </div>
        <b class="some-of-my">SOME OF MY LATEST WORKS</b>
        <div class="text-child">
        </div>
    </div>
    <div class="frame-parent">
        <div class="frame-group">
                <div class="screens-parent">
            
                    
                    
                    
                    <div class="rectangle-parent">
                            <img class="frame-child" alt="" src="Adamo.png">
                            
                            <b class="adamo-ai-mobile">Adamo AI Mobile App</b>
                    </div>
                </div>
                <div class="screens-group">
                    <img class="screens-icon1" alt="" src="Screens.png">
                    
                    <div class="rectangle-parent">
                            <img class="frame-child" alt="" src="Vector 191.png">
                            
                            <b class="adamo-ai-mobile">Adamo AI Landing Page</b>
                    </div>
                </div>
        </div>
        <div class="frame-group">
                <div class="screens-container">
                    <img class="screens-icon1" alt="" src="Screens.png">
                    
                    <div class="rectangle-parent">
                            <img class="logo-1-icon" alt="" src="Logo 1.svg">
                            
                            <b class="adamo-ai-mobile">Flexi - Freelancing Platform</b>
                    </div>
                </div>
                <div class="screens-group">
                    <img class="screens-2-icon" alt="" src="Screens 2.png">
                    
                    <div class="rectangle-parent">
                            <img class="alaya-1-icon" alt="" src="Alaya 1.svg">
                            
                            <b class="adamo-ai-mobile">Alaya - Hotel Booking App</b>
                    </div>
                </div>
        </div>
    </div>
</section>
  	
  	
  	
  	
</body>
