---
import '../styles/global.css'
import '../styles/LatestWork.css'
---

<style>
     a {
    color: rgba(60, 60, 67, 0.6);
    text-decoration: none;
}

    a:hover {
    color:black; 
    text-decoration:none; 
    cursor:pointer;  
}
</style>


<body>
    <section class="latest-work">
        <div class="text">
            <div class="separator">
             </div>
            <b class="latest-work-title">SOME OF MY LATEST WORKS</b>
            <div class="separator">
            </div>
        </div>
        <div class="latest-work-card-container">
            <div class="card-group">  
                <a href="#" class="card-mobile">
                    <div class="mobile-screens">
                        <img class="mobile-screen-3" alt="" src="Screen-3.png">
    
                        <div class="shadow-mobile-2">
                        </div>
                        
                        <img class="mobile-screen-2" alt="" src="Screen-2.png">
        
                        <div class="shadow-mobile-1">
                        </div>
                        <img class="mobile-screen-1" alt="" src="Screen-1.png">
                    </div>
                    <div class="brand">
                        <img class="adamo-logo" alt="" src="Adamo.png">
                        <b class="brand-name">Adamo AI Mobile App</b>
                    </div>
                </a>
                <a href="#" class="card-website">
                    <div class="website-screens">
                        <img class="website-screen-1" alt="" src="Home-Landing-2.jpg">

                        <div class="shadow-website">
                        </div>

                        <img class="website-screen-2" alt="" src="Home-Landing.jpg">
                    </div>

                    <div class="brand">
                        <img class="adamo-logo" alt="" src="Adamo.png">
                        <b class="brand-name">Adamo AI Landing Page</b>
                    </div>
                </a>
            </div>
            <div class="card-group">
                <a href="#" class="card-website">
                    <div class="website-screens">
                        <img class="website-screen-1" alt="Freelancing Landing Page" src="Freelancing-2.png">

                        <div class="shadow-website">
                        </div>

                        <img class="website-screen-2" alt="Freelancing Landing Page" src="Freelancing.png">
                    </div>
                    <div class="brand">
                        <img class="flexi-logo" alt="" src="Desktop/Logo 1.svg">
                        <b class="brand-name">Flexi - Freelancing Platform</b>
                    </div>
                </a>
                <a href="#" class="card-mobile">
                    <div class="mobile-screens">
                        <img class="mobile-screen-3" alt="" src="Alaya-3.png">
                        
                        <div class="shadow-mobile-2">
                        </div>
                        
                        <img class="mobile-screen-2" alt="" src="Alaya-2.png">
                        
                        <div class="shadow-mobile-1">
                        </div>
                        
                        <img class="mobile-screen-1" alt="" src="Alaya-1.png">
                    </div>
                    <div class="brand">
                        <img class="alaya-logo" alt="" src="Desktop/Alaya 1.svg">
                        <b class="brand-name">Alaya - Hotel Booking App</b>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>