---
import '../styles/global.css'
import '../styles/LatestWork.css'
---

<style>
     a {
    color: rgba(60, 60, 67, 0.6);
    text-decoration: none;
}

    a:hover {
    color:black; 
    text-decoration:none; 
    cursor:pointer;  
}
</style>


<body>
    <section class="latest-work">
        <div class="text">
            <div class="text-child">
             </div>
            <b class="some-of-my">SOME OF MY LATEST WORKS</b>
            <div class="text-child">
            </div>
        </div>
        <div class="frame-parent">
            <div class="frame-group">  
                <a href="#" class="screens-parent">
                    <div class="screens">
                        <img class="screen-3-icon" alt="" src="Screen-3.png">
    
                        <div class="shadow-2">
                        </div>
                        
                        <img class="screen-2-icon" alt="" src="Screen-2.png">
        
                        <div class="shadow-1">
                        </div>
                        <img class="screen-1-icon" alt="" src="Screen-1.png">
                    </div>
                    <div class="text1">
                        <img class="text-inner" alt="" src="Adamo.png">
                        <b class="adamo-ai-mobile">Adamo AI Mobile App</b>
                    </div>
                </a>
                <a href="#" class="screens-group">
                    <div class="screens1">
                        <img class="screen-2-icon1" alt="" src="Home-Landing.jpg">
                    <div class="shadow">
                    </div>
                    <img class="screen-1-icon1" alt="" src="Home-Landing.jpg">
                    </div>
                    <div class="text1">
                        <img class="text-inner" alt="" src="Adamo.png">
                        <b class="adamo-ai-mobile">Adamo AI Landing Page</b>
                    </div>
                </a>
            </div>
            <div class="frame-group">
                <a href="#" class="screens-container">
                    <div class="screens1">
                        <img class="screen-2-icon1" alt="Freelancing Landing Page" src="Freelancing.png">
                        <div class="shadow1">
                        </div>
                        <img class="screen-1-icon1" alt="Freelancing Landing Page" src="Freelancing.png">
                    </div>
                    <div class="text1">
                        <img class="logo-1-icon" alt="" src="Desktop/Logo 1.svg">
                        <b class="adamo-ai-mobile">Flexi - Freelancing Platform</b>
                    </div>
                </a>
                <a href="#" class="screens-group">
                    <div class="screens">
                        <img class="screen-3-icon" alt="" src="Alaya-3.png">
                        
                        <div class="shadow-2">
                        </div>
                        
                        <img class="screen-2-icon" alt="" src="Alaya-2.png">
                        
                        <div class="shadow-1">
                        </div>
                        
                        <img class="screen-1-icon" alt="" src="Alaya-1.png">
                    </div>
                    <div class="text1">
                        <img class="alaya-1-icon" alt="" src="Desktop/Alaya 1.svg">
                        <b class="adamo-ai-mobile">Alaya - Hotel Booking App</b>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>