---
import '../styles/global.css'
import '../styles/LatestWork.css'
---

<style>
     a {
    color: rgba(60, 60, 67, 0.6);
    text-decoration: none;
}

    a:hover {
    color:black; 
    text-decoration:none; 
    cursor:pointer;  
}
</style>


<body>
    <section id="works" class="latest-work">
        <div class="text">
            <div class="separator">
             </div>
            <b class="latest-work-title">SOME OF MY LATEST WORKS</b>
            <div class="separator">
            </div>
        </div>
        <div class="latest-work-card-container">
            <div class="card-group">  
                <a href="#" class="card-mobile ">        
                    <div class="relative flex flex-col gap-10 w-full h-full align-center justify center">
                        
                        <div class="brand relative flex justify-center items-center gap-4 px-6">
                            <img class="adamo-logo" alt="" src="Adamo.png">
                            <b class="brand-name">Adamo AI Mobile App</b>
                        </div>
                        
                        <div class="mobile-screens relative flex justify-center items-center w-full h-full ">
                            <img class="mobile-screen-3 top-10 right-[15%]" alt="" src="Screen-3.png">
        
                            <div class="shadow-mobile-2 top-4">
                            </div>
                            
                            <img class="mobile-screen-2 top-2 align-center " alt="" src="Screen-2.png">
            
                            <div class="shadow-mobile-1 top-0">
                            </div>
                            <img class="mobile-screen-1 top-0 left-[15%]" alt="" src="Screen-1.png">
                        </div>
                    
                    </div>
                </a>
                <a href="#" class="card-website">
                    <div class="relative flex flex-col gap-10 w-full h-full align-center justify center">
                        <div class="brand relative flex justify-center items-center gap-4 px-6">
                            <img class="adamo-logo" alt="" src="Adamo.png">
                            <b class="brand-name">Adamo AI Landing Page</b>
                        </div>

                        <div class="website-screens relative flex justify-center items-center w-full h-full">
                            <img class="website-screen-1 top-10 left-[50%]" alt="" src="Home-Landing-2.jpg">
    
                            <div class="shadow-website top-4 right-[29%]">
                            </div>
    
                            <img class="website-screen-2 top-0 right-[35%]" alt="" src="Home-Landing.jpg">
                        </div> 
                    </div>
                </a>
            </div>
            <div class="card-group">
                <a href="#" class="card-website">
                    <div class="relative flex flex-col gap-10 w-full h-full align-center justify center">
                        <div class="brand relative flex justify-center items-center gap-4 px-6">
                            <img class="flexi-logo" alt="" src="Desktop/Logo 1.svg">
                            <b class="brand-name">Flexi - Freelancing Platform</b>
                        </div>

                        <div class="website-screens relative flex justify-center items-center w-full h-full">
                            <img class="website-screen-1 top-10 left-[50%]" alt="Freelancing Landing Page" src="Freelancing-2.png">
    
                            <div class="shadow-website top-4 right-[29%]">
                            </div>
    
                            <img class="website-screen-2 top-0 right-[35%]" alt="Freelancing Landing Page" src="Freelancing.png">
                        </div>
                    </div>
                </a>
                <a href="#" class="card-mobile">
                    <div class="relative flex flex-col gap-10 w-full h-full align-center justify center">

                        <div class="brand relative flex justify-center items-center gap-4 px-6">
                            <img class="alaya-logo" alt="" src="Desktop/Alaya 1.svg">
                            <b class="brand-name">Alaya - Hotel Booking App</b>
                        </div>
                        
                        <div class="mobile-screens relative flex justify-center items-center w-full h-full">
                            <img class="mobile-screen-3 top-10 right-[15%]" alt="" src="Alaya-3.png">
                            
                            <div class="shadow-mobile-2 top-4">
                            </div>
                            
                            <img class="mobile-screen-2 top-2 align-center" alt="" src="Alaya-2.png">
                            
                            <div class="shadow-mobile-1 top-0">
                            </div>
                            
                            <img class="mobile-screen-1 top-0 left-[15%]" alt="" src="Alaya-1.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>