
<body>
  	
  	<div class="navbar">
    		<div class="logo">
      			<img class="vector-icon" alt="" src="Vector.svg">
      			
    		</div>
    		<div class="twitter-svg-parent">
      			<img class="twitter-svg" alt="" src="Twitter.svg">
      			
      			<img class="linkedin-svg-icon" alt="" src="LinkedIn.svg">
      			
      			<img class="instagram-svg-icon" alt="" src="Instagram.svg">
      			
      			<img class="figma-svg-icon" alt="" src="Figma.svg">
      			
    		</div>
    		<div class="about-parent">
      			<div class="about">about</div>
      			<div class="about">portfolio</div>
      			<div class="about">blog</div>
      			<div class="about">contact</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>

<style>
	.vector-icon {
  	position: relative;
  	width: 22px;
  	height: 24px;
}
.logo {
  	border-radius: 100px;
  	background-color: #000;
  	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  	width: 44px;
  	display: flex;
  	flex-direction: row;
  	padding: 10px;
  	box-sizing: border-box;
  	align-items: center;
  	justify-content: center;
  	z-index: 0;
}
.twitter-svg {
  	position: relative;
  	width: 29.12px;
  	height: 24px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.linkedin-svg-icon {
  	position: relative;
  	width: 28.43px;
  	height: 24px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.instagram-svg-icon {
  	position: relative;
  	width: 24px;
  	height: 24px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.figma-svg-icon {
  	position: relative;
  	width: 17.42px;
  	height: 24.45px;
}
.twitter-svg-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 32px;
  	z-index: 1;
}
.about {
  	position: relative;
  	letter-spacing: -0.4px;
  	line-height: 25px;
}
.about-parent {
  	margin: 0 !important;
  	position: absolute;
  	top: calc(50% - 13px);
  	left: calc(50% - 169px);
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 32px;
  	z-index: 2;
}
.navbar {
  	position: relative;
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  	padding: 24px 160px;
  	box-sizing: border-box;
  	align-items: center;
  	justify-content: space-between;
  	text-align: left;
  	font-size: 20px;
  	color: rgba(60, 60, 67, 0.6);
  	font-family: Inter;
}

</style>

