---
import '../styles/global.css'
import '../styles/NavbarStyle.css'
---

<!DOCTYPE html>
<html>
<body>
  	<div class="navbar">
    		<div class="logo">
      			<div class="logo1">
        				<img class="vector-icon" alt="Logo" src="Desktop/Logo.svg">
      			</div>
    		</div>

    		<div class="social-media">
                <a href="#">
      			<img class="twitter-svg" alt="Twitter" src="Desktop/Twitter.svg">
                </a>

                <a href="#">
      			<img class="linkedin-svg-icon" alt="LinkedIn" src="Desktop/LinkedIn.svg">
                </a>

                <a href="#">
      			<img class="instagram-svg-icon" alt="Instagram" src="Desktop/Instagram.svg">
                </a>

                <a href="#">
      			<img class="figma-svg-icon" alt="Figma" src="Desktop/Figma.svg">
                </a>

    		</div>
    		<div class="links">
      			<a href="#" class="about">about</a>
                <a href="#" class="about">works</a>
                <a href="#" class="about">contact</a>
            </div>
  	</div>
</body>
</html>
