---
import '../styles/global.css'
import '../styles/Testimonials.css'
---

  	
<div class="testimonials">
        <div class="text">
            <div class="text-child">
            </div>
            <b class="what-our-clients">WHAT OUR CLIENTS SAY</b>
            <div class="text-child">
            </div>
        </div>
        <div class="frame-card">
            <div class="card-1">
                    <div class="frame-card-1">
                        <div class="name-card-1">
                                <b class="client-name">Danny Bunyan</b>
                                <div class="work-at">Founder of Beehave</div>
                        </div>
                        <div class="experienced-incredibly-person">Experienced, incredibly personal, great communications, and great work. If you want quality work with a personal touch, they're the perfect choice.</div>
                    </div>
            </div>
            <div class="card-2">
                    <div class="frame-card-1">
                        <div class="name-card-1">
                                <b class="client-name">Stefano Adamo</b>
                                <div class="work-at">Founder of Adamo AI</div>
                        </div>
                        <div class="experienced-incredibly-person">Bro I can’t stop looking at it, it’s so beautiful. Every time I look at it, I'm completely captivated by its exquisite beauty, a visual masterpiece that never ceases to amaze me.</div>
                    </div>
            </div>
            <div class="card-2">
                    <div class="frame-card-3">
                        <div class="name-card-1">
                                <b class="client-name">Riana Marinka</b>
                                <div class="work-at">Small Business Owner</div>
                        </div>
                        <div class="experienced-incredibly-person">Working with Diavanda was a game-changer for our project. Every detail was thoughtfully considered, resulting in a user experience that our customers absolutely love.</div>
                    </div>
            </div>
        </div>
</div>

  	
  	