---
import '../styles/global.css'
import '../styles/Works.css'
---


<div class="works">
    <div class="text">
        <div class="text-child">
        </div>
        <b class="my-works">MY WORKS</b>
        <div class="text-child">
        </div>
    </div>
    <div class="work-frame-1">
        <img class="app-1-icon" alt="" src="App 1/Light.png">
        
        <img class="app-1-icon" alt="" src="App 2/Light.png">
        
        <img class="app-1-icon" alt="" src="App 3/Light.png">
    
        <img class="app-1-icon" alt="" src="App 4/Light.png">
    
        <div class="app-5">
        </div1>

        <img class="app-1-icon" alt="" src="App 5/Light.png">
    
        <img class="app-1-icon" alt="" src="App 6/Light.png">
    
        <img class="app-1-icon" alt="" src="App 7/Light.png">
        
    </div>
    <div class="work-frame-2">
        <img class="work-frame-2-child" alt="" src="Frame 58.png">
        
        <img class="work-frame-2-item" alt="" src="Frame 60.png">
        
        <div class="work-frame-2-inner">
                <img class="frame-child" alt="" src="Rectangle 1240.png">
                
        </div>
        <img class="frame-icon" alt="" src="Frame 64.png">
        
    </div>
</div>
