---
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import LatestWork from '../components/LatestWork.astro'
import About from '../components/About.astro'
import Works from '../components/Works.astro'
import Testimonials from '../components/Testimonials.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
const { title } = Astro.props
---
<script src="../scripts/menu.js"></script>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />	

    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="Desktop/Logo.svg">
  </head>
  <body>
    <Navbar />
   
    <main>
        <slot />
        <Hero />
        <LatestWork />
        <Works />
        <About />
        <Testimonials />
        <Contact />
        
    </main>
    <Footer />
  </body>
</html>