---
import Navbar from '../components/Navbar.astro'
const { title } = Astro.props
---


<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />	
    
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <main>
        <slot />
    </main>

  </body>
</html>